.user{
    flex: 4;
    padding: 20px;
}

.userTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.userAddButton{
    width: 80px;
    border: none;
    padding: 5px;
    border-radius: 7px;
    background-color: teal;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
.userContainer{
    margin-top: 20px;
    display: flex;
}

.userShow{
    flex: 1;
    padding: 20px;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);

}
.userUpdate{
    flex: 2;
    padding: 20px;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
    margin-left: 20px;
}
.userShowTop{
    display: flex;
    align-items: center;
}

.userShowImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.userShowTopTitle{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.userShowUsername{
    font-weight: 600;
}
.userShowUserTitle{
    font-weight: 300;
}
.userShowBottom{
    margin-top: 20px;
}

.userShowTitle{
    font-size: 14px;
    font-weight: 600;
    color: rgb(175, 170, 170);

}
.userShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: #444;
}
.userShowIcon{
   font-size: 16px !important; 
}
.userShowInfoTitle{
    margin-left: 10px;
}
